<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeLess</title>
    <link rel="stylesheet" href="css/style.css" > 
    <link rel="stylesheet" href="css/bootstrap.css" > 
    <link rel="stylesheet" href="css/bootstrap.min.css" > 
    

</head>
<body >
    <font face="Comic sans MS" size="7">
        <span class="testo"> HomeLess</span> <br>
      </font>
    <a href="/en">Lingua Inglese</a> <br>
    <a href="/it">Lingua Italiana</a>
</body>

</html>

<style>
    body{
        background-color: #fdc513;
        text-align: center;
    }
</style>