<html>
    <head>
        <title>Form</title>
        <script type="text/javascript" language="javascript">
            function HttpReq(){
                if(!document.form.privacy.checked){
                    alert('Devi accettare le condizioni di servizio');
                    return false;
                }
                alert('We are elaborating your request. You will soon receive an email with your document!')
            }
        
        </script>


        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />


    </head>
    
    <body> 

        <div class="container">
            <center>
                <div class="row">
                    <div class="col">
                        <center>
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h2 class="card-title"><b>SERVICE 1</b></h2>
                                    
                                    
                                        <div class="container">
                                            <form method="post" name="form" onsubmit="return HttpReq();">

                                                <table class="table table-borderless">
                                                   
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">Name</th>
                                                        <td><input type="text" class="inserimento" name="name" size="30" placeholder="Insert your name" required></td>
                                                        
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">Surname</th>
                                                        <td><input type="text" class="inserimento" name="surname" size="30" placeholder="Insert your surname" required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">Birthday</th>
                                                        <td><input type="date" class="inserimento" name="birthday" size="30"  required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">Street</th>
                                                        <td><input type="text" class="inserimento" name="street" size="30" placeholder="Insert your street"  required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">Cap</th>
                                                        <td><input type="text" class="inserimento" name="cap" size="30" placeholder="Insert your cap" required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">To</th>
                                                        <td><input type="text" class="inserimento" name="to" size="30" placeholder="Insert the recipient" required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">City</th>
                                                        <td><input type="text" class="inserimento" name="city" size="30" placeholder="Insert your city" required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">Email</th>
                                                        <td><input type="text" class="inserimento" name="email" size="30" placeholder="Insert your email" required></td>
                                                      </tr>

                                                      <tr>
                                                        <th scope="row">I accept terms and privacy policy.</th>
                                                        <td><input type="checkbox" name="privacy" size="30"></td>
                                                      </tr>
                                                      

                                                    </tbody>
                                                  </table>
                                                  
                                                  <div class="row">
                                                      <div class="col">
                                                        <input type="submit" value="Send info">
                                                      </div>
                                                      <div class="col">
                                                        <a class="btn btn-danger" id="back_to_services_choice" href="/en" role="button">Go back to the available services</a>
                                                      </div>
                                                      
                                                  </div>
            
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </center>
                        
                    </div>
                    
                </div>
            </center>
            

            
        </div>



        <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
        
    </body>

</html>

<style>
    .inserimento{
        width: 220px;
        height: 30px;
    }

    input[type=submit]{
    background-color: #4CAF50;
    cursor: pointer;
    /*border-radius: 20px;*/
    }
/*
    input[type=text], [type=date]{
    border-radius: 20px;
    border-width: 1.4px;
    padding: 4%;
    }*/

    body {
        background-color: #fff7e0;
    }

    .card {
        background-color: #fdc513;
        width: 400px;
        height: 750px;
        -webkit-box-shadow: 10px 10px 5px -5px rgba(250, 205, 5, 0.75);
        -moz-box-shadow: 10px 10px 5px -5px rgba(250, 205, 5, 0.75);
        box-shadow: 10px 10px 5px -5px rgba(250, 205, 5, 0.75);
    }

    .card:hover {
        background-color: #facd05;
    }

    #back_to_services_choice{
        border-radius: 20px;
        border-width: 1.4px;
        padding: 4%;
    }

</style>