<html>
  <head>
    <title>Form</title>
  </head>

  <body>
    <h1 style="text-align: left;">DOCUMENT VERIFY</h1>
    <form method="post" enctype="multipart/form-data" name="form">
      <table>
        <tr>
          <td>DOCUMENT ID:</td>
          <td><input type="text" name="pdf_id" /></td>
        </tr>
        <tr>
          <td>PDF:</td>
          <td><input type="file" name="file" /></td>
        </tr>

        <tr>
          <td></td>
          <td align="center"><input type="submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
